<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Projects Emily McIntyre</title>
    <link rel="stylesheet" href="../resources/css/styles.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  
  </head>
  <body>
         <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Emily's Portfolio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="hobbies.html">Hobbies</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
                </li>
                
            </ul>
            <img
                src="../resources/img/vdka.png"
                alt="vdka"
                class="ms-auto"
                style="height: 60px; width: auto;" />
            </div>
        </div>
</nav>
</header>
<h1>These are my projects!</h1>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Potions
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="project-row">
            <img src="../resources/img/potions.png" class="project-img" alt="Jumpy screenshot" />
            <div class="project-text">
                Potions is a game where you jump around to collect materials and 
        then eventually put those materials into a potion that you make! Each potion has different effects, 
        which different NPS's want. These NPCs will give you a request and you must give them the effect 
        from the potion that they want!

            </div>

        </div>
        </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Jumpy House
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="project-row">
            <img src="../resources/img/jumpy.png" class="project-img" alt="Jumpy screenshot" />
            <div class="project-text">
            
            Jumpy House is a shmup game where you play as a little bunny defending your house. 
            Press x to shoot and then c to release a big shot, the only shot capable of defeating 
            the boss snail.
            </div>
        </div>
        
        </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Coffeeria
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="project-row">
    <img src="../resources/img/coffeeria.png" class="project-img" alt="Coffeeria screenshot" />
    <div class="project-text">
      Coffeeria is a Papa's game inspired coffee shop where you receive a customers order
      and then choose ingredients to make a cup of coffee for that customer.
      You can fail or get it right.
    </div>
  </div>
</div>
</div>
</div>
</div>
    <footer>
    <h3>Professional and Social Links: </h3>
      
        <p> 
            <img
                src="../resources/img/instagram.png"
                alt="insta"
                class="ms-auto"
                style="height: 20px; width: auto;" />
            </div>
            Instagram: <a href="https://www.instagram.com/emillyymcintyre/">https://www.instagram.com/emillyymcintyre/</a></p>
        <p>
            <img
                src="../resources/img/linkedin.png"
                alt="linken"
                class="ms-auto"
                style="height: 20px; width: auto;" />
            </div>
            LinkedIn: <a href="https://www.linkedin.com/in/emily-c-mcintyre/">https://www.linkedin.com/in/emily-c-mcintyre/</a> </p>
         <p>
            <img
                src="../resources/img/itchio-logo-textless-black.png"
                alt="itch"
                class="ms-auto"
                style="height: 20px; width: auto;" />
            </div>
            Itch.io <a href="https://8beg.itch.io/">https://8beg.itch.io/</a> </p>

      

  </footer>


  </body>
  
  
  
</html>