<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hobbies Emily McIntyre</title>
    <link rel="stylesheet" href="../resources/css/styles.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <header>
      
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Emily's Portfolio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="hobbies.html">Hobbies</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
                </li>
                
            </ul>
            <img
                src="../resources/img/curr_chan.png"
                alt="CurrChan"
                class="ms-auto"
                style="height: 60px; width: auto;" />
            </div>
        </div>
</nav>
    </header>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <h1>These are my hobbies!</h1>
    <div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="../resources/img/judoandfran.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hanging with friends!

    </h5>
    <p class="card-text">I like hanging out with friends, playing games, or just being around other people</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="../resources/img/skiing.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Skiing</h5>
    <p class="card-text">
         I like skiing because it is not only challenging but can be super easy at times too, making it perfect for whatever mood I am in.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img src="../resources/img/hiking.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hiking</h5>
    <p class="card-text">I like hiking, but I haven't gone as much as I want to, and I hope I can start hiking a lot more.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
</div>


  </body>
  <footer>
    <h3>Professional and Social Links: </h3>
      
        <p> 
            <img
                src="../resources/img/instagram.png"
                alt="insta"
                class="ms-auto"
                style="height: 20px; width: auto;" />
            </div>
            Instagram: <a href="https://www.instagram.com/emillyymcintyre/">https://www.instagram.com/emillyymcintyre/</a></p>
        <p>
            <img
                src="../resources/img/linkedin.png"
                alt="linken"
                class="ms-auto"
                style="height: 20px; width: auto;" />
            </div>
            LinkedIn: <a href="https://www.linkedin.com/in/emily-c-mcintyre/">https://www.linkedin.com/in/emily-c-mcintyre/</a> </p>
         <p>
            <img
                src="../resources/img/itchio-logo-textless-black.png"
                alt="itch"
                class="ms-auto"
                style="height: 20px; width: auto;" />
            </div>
            Itch.io <a href="https://8beg.itch.io/">https://8beg.itch.io/</a> </p>

      

  </footer>
</html>